*{
    scroll-behavior: smooth;
}

[class^="montserrat-"] {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

datalist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
}

.mapYearOptions {
    padding: 0.3vh;
    font-size: 0.8em;
}

input[type="range"] {
    width: 20vw;
    margin: 0;
}

.montserrat-thin {
    font-weight: 100;
}

.montserrat-extra-light {
    font-weight: 200;
}

.montserrat-light {
    font-weight: 300;
}

.montserrat-regular {
    font-weight: 400;
}

.montserrat-medium {
    font-weight: 500;
}

.montserrat-semi-bold {
    font-weight: 600;
}

.montserrat-bold {
    font-weight: 700;
}

.montserrat-extra-bold {
    font-weight: 800;
}

.montserrat-black {
    font-weight: 900;
}

.container {
    display: flex;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

.country {
    pointer-events: all;
    cursor: pointer;
}

#mapTooltip, #mapBarPlotContainer, #mapLegendContainer {
    position: absolute;
}

#mapBarPlotContainer, #mapLegendContainer {
    width: min-content;
}

#mapTooltip, #mapBarPlotContainer {
    visibility: hidden;
}

#mapToolsContainer {
    flex-direction: row;
}

#mapContainer, #scatterContainer {
    z-index: 0;
    overflow: hidden;
    width: 82.5vw;
    height: 85vh;
}

#mapContainer {
    border: 0.25em solid black;
}

#mapTooltip {
    z-index: 15;
    background: #D3D3D3;
}

#mapBarPlotContainer {
    z-index: 10;
    border: 0.1em solid black;
    background: white;
    box-shadow: 5px 5px 5px black;
}

#mapLegendContainer {
    top: 62.5vh;
    left: 15vw;
    align-items: flex-start;
    pointer-events: none;
    border: 0.1em solid black;
}

#mapLegend {
    z-index: 5;
    width: 160px;
    background: white;
    padding-top: 1vh;
    padding-left: 1vw;
}